/*  Style for button */
.btn   {
    transition-duration: 300ms;
    background-color: #244586;
    font-size:  12px; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
/* change color background when hover */
.btn:hover {
    background-color: #1849A9;
}
/* responsive for phone screen */
@media screen and (max-width: 430px) {
    .btn{
        font-size: 10px;
}
}