/* modal container */
.modal {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; 
    align-items: center; 
    justify-content: center
}
/* content container */
.modal-content {
    transition-duration: 300ms;
    background-color: var(--purple-color-light);
    margin: 15% auto;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
.modal-img-container{
    width: 100%;
    padding: 10px 20px;
    border-top:1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--white-color);
}
.modal-img-container p{
    text-align: center;
    font-weight: 600;
}
.modal-img {
    transition-duration: 300ms;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
.close {
    cursor: pointer;
}
.modal-header{
   
    display : flex;
}
.modal-container {
    display: flex;
   
    justify-content: end;
    gap: 10px;
    padding: 10px;
}

@media screen and (min-width: 430px) {
    .modal-content{
        width: 350px;
    }
    .modal-img {
        width: 200px;
        height: 200px;
    }
}
@media screen and (min-width: 750px) {
    .modal-content{
        width: 400px;
    }
    .modal-img {
        width: 250px;
        height: 250px;
    }
}