
/* container of list card */
.container-list{
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 5px;
}
/* entry card container */
.container-entry{
    background-color:var(--white-color);
    font-size: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    border: 1px solid var(--border-color);
}
/* ccontainer of title ,date and content text */
.content-entry{
    width: 100%;
    gap: 5px;
    display: flex;
    flex-direction: column;
}
/* container of title and date */
.container-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/* title color */
.entry-title{
    color:var(--title-color);
}
/* date color */
.entry-date{
    color:#515151;
}
/* text content */
.entry-content{
    height: 60px;
    overflow: hidden;
    line-height: 0.9rem;
}

/* container button action */
.container-btn-entry{
    display: flex;
    gap: 5px;
    flex-direction: column;
    justify-content: center;
}
/* edit button */
.edit-btn svg{
    fill : var(--purple-color);
}
.edit-btn svg:hover{
    fill: var(--purple-color);
}
.delete-btn svg{
   fill:var(--red-color);
}
.delete-btn svg:hover{
    fill:var(--red-color-danger);
}