/* footer */
footer{
    width: 100%;
    margin: 0 auto;
    background-color: #F9FAFB;
    border-top: 1px solid var(--border-color);
}

.footer-title{
    color: var( --purple-color);
    font-size: 16px;
    font-weight: bold;
}
.footer-left-container{
    transition-duration: 300ms;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

.footer-left-container ul >li{
    list-style: none;
    font-size: 10px;
    margin: 5px 0;
    font-weight: bold;
}
@media screen and (min-width: 750px) {
    .footer-left-container{
        padding:60px 20px ;
    }
}