.header-dashboard {
    text-align: center;
    background-image: url('../../assets/login-img.jpg');
  }
  .btn-new-entry {
    display: inline-block;
    background-color: #e638e6;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
  }