
/* header */
header {
    background-image: url('../../assets/background.jpg');
    padding:60px 0px ;
    margin: 0px 10px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition-duration: 500ms;
    color: #F9FAFB;
    font-size: 18px;
    font-weight: bold;
    gap: 10px;
}
header p{
    font-size: 12px;
    font-weight: normal;
}
/* responsive for screen bigger than 430px */
@media screen and (min-width: 430px) {
    body ,main{
        gap:20px;
    }
    header{
        padding:100px 0 ;
        font-size: 24px;
    }
}
@media screen and (min-width: 750px) {
    header{
        font-size: 36px;
        padding:150px 0 ;
        gap: 20px;
    }

}
@media screen and (min-width: 1400px) {
    header{
        max-width: 1400px;
        margin: 10px auto;
    } 
    header p{
        font-size: 18px;
    }
}
