.container-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.login-container {

    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.login-image{
    display: none;
    margin: 10px;
    width: 100%;
}
.login-image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 500px;
    padding: 20px;
    max-width: 800px;
}

.login-form h2 {
    margin-top: 0;
}

.login-form p {
    color: #888;
}

.login-form form {
    display: flex;
    flex-direction: column;
}

.login-form label {
    margin-bottom: 5px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form .remember-me {
    display: flex;
    align-items: center;
}

.login-form .remember-me input {
    margin-right: 5px;
}

.login-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}


.login-form .links {
    margin-top: 10px;
    text-align: center;
}

.login-form .links a {
    color: #4285F4;
    text-decoration: none;
}
@media screen and (min-width: 750px) {
    .login-image{
        display: block;
    }
    
}