.container-section{
    
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.login-btn{
    width: 100%;
    background-color: rgb(69, 63, 63);
}
.login-container {
    transition-duration: 500ms;
    font-size: 12px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.login-container h2{
    font-size: 20px;
}
.login-container p{
    font-size: 10px;
}
.login-image{
    transition-duration: 800ms;
    margin: 10px;
    width: 0px;
}
.login-image img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-form {
    transition-duration: 600ms;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 500px;

    max-width: 800px;
}

.login-form h2 {
    margin-top: 0;
}

.login-form p {
    color: #888;
}

.login-form form {
    width: 100%;
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 2px;
}

.login-form label {
    margin-bottom: 5px;
}

.login-form input[type="email"],
.login-form input[type="password"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-form .remember-me {
    display: flex;
    align-items: center;
}

.login-form .remember-me input {
    margin-right: 5px;
}



.login-form .links {
    margin-top: 10px;
    text-align: center;
}

@media screen and (min-width: 750px) {
    .login-image{
        display: block;
        width: 100%;
    }
    .login-container h2{
        font-size: 36px;
    }
    .login-container p{
        font-size: 12px;
    }
    .login-form form{
        gap: 5px;
        max-width: 325px;
    }
    
}