.modal-view {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex; 
    align-items: center; 
    justify-content: center
}
.closeView {
    cursor: pointer;
}
.closeViewButtom{
    opacity: 0;
}
.modal-content-view {
    transition-duration: 300ms;
    background-color: var(--purple-color-light);
    margin: 15% auto;
    border: 1px solid #888;
    width: 90%;
    text-align: center;
    border-radius: 10px;
    position: relative;
}
.modal-view-container{
    transition-duration: 500ms;
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: self-start;
    color: #343232;
    font-size: 10px;
    width: 100%;
    max-height: 400px;
    padding: 10px 20px;
    border-top:1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    background-color: var(--white-color);
    overflow: auto;
}
.modal-view-container .modal-text-title {
    transition-duration: 300ms;
    color : black;
    font-size: 12px;
}
.modal-text-content{
    transition-duration: 300ms;
    text-align: start;
    line-height: 1rem;
}

@media screen and (min-width: 430px) {
    .modal-content-view{
        width: 80%;
    }
    .modal-view-container{
        max-height: 600px;
        font-size: 12px;
    }
    .modal-view-container .modal-text-title{
        font-size: 14px;
    }
    .modal-text-content{
        line-height: 1.2rem;
    }
}
@media screen and (min-width: 750px) {
    .modal-content-view{
        width: 60%;
    }
}