/* Import the Public Sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Import styles for the button component */
@import url('./components/button.css');

/* Import styles for the input component */
@import url('./components/input.css');

/* import styles for the card component*/
@import url('./components/card.css');

/* import styles for the Entry Card */
@import url('./components/entry-card.css');

/* global varaible */
:root{
    --purple-color : #767AE3;
    --blue-color :#1849A9;
    --background-color : #F9FAFE;
    --white-color : #FFFFFF;
    --title-color :#2D31A6;
    --border-color :#ccc;
}
/* Reset some default browser styles */
* {
 font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Set the default font family to Public Sans */
body {
    width: 100%;
    transition-duration: 700ms;
    display: flex;
    background-color: var(--background-color);
    flex-direction: column;
    gap: 10px;
}

header {
    background-image: url('../assets/background.jpg');
    padding:40px 0 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    transition-duration: 700ms;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:10px;
}
button {
  background: none;
  border: none;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  cursor: pointer;
}
/* style for text header */
.text-header {
    transition-duration: 500ms;
    color: #F9FAFB;
    font-size: 18px;
    font-weight: bold;
}
/* Styles for the border */
.border {
    border: 1px solid #ccc;
}
/* responsive for screen bigger than 430px */
@media screen and (min-width: 430px) {
    body ,main{
        gap:20px;
    }
       /* Styles for the header */
    header{
        padding:100px 0 ;
    }
    /* Styles for the header text */
    .text-header {
        font-size: 32px;
    }
}
@media screen and (min-width: 750px) {
    header{
        padding:150px 0 ;
    }
        /* Styles for the header text */
        .text-header {
            font-size: 38px;
        }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    position: relative;
}

.modal-img {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.confirm {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.confirm:hover {
    background-color: #0056b3;
}
.button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}