/* Import the Public Sans font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* Import styles for the button component */
@import url('./components/button.css');

/* Import styles for the input component */
@import url('./components/input.css');

/* import styles for the card component*/
@import url('./components/card.css');

/* import styles for the Entry Card */
@import url('./components/entry-card.css');

/* import styles for the delete modal */
@import url('./components/delete-modal.css');	

/* import styles for the update modal */
@import url('./components/update-modal.css');	

/* import styles for the update modal */
@import url('./components/view-modal.css');

/* import styles for data not found section */
@import url('./components/data-not-found.css');

/* import styles for login section */
@import url('./components/login.css');

/* import styles for navbar */
@import url('./components/navbar.css');

/* import styles for header */
@import url('./components/header.css');

/* import styles for footer */
@import url('./components/footer.css');
/* global varaible */
:root{
    --purple-color : #767AE3;
    --blue-color :#1849A9;
    --purple-color-light : #F9FAFE;
    --white-color : #FFFFFF;
    --title-color :#2D31A6;
    --border-color :#ccc;
    --red-color : #E31B54;
    --red-color-danger : #C01048;
}
/* Reset some default browser styles */
* {
 font-family: "Public Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Set the default font family to Public Sans */
body {
    width: 100%;
    transition-duration: 700ms;
    display: flex;
    background-color: var(--purple-color-light);
    flex-direction: column;
    gap: 10px;
}

/* main section */
main {
    transition-duration: 700ms;
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap:10px;
}



/* Styles for the border */
.border {
    border: 1px solid #efefef;
}
/* responsive for screen bigger than 430px */
@media screen and (min-width: 430px) {
    body ,main{
        gap:20px;
    }
}
